.mat-column-ID {
  flex: 0 0 10%;
}
.table-container {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
  -ms-hyphens: manual;
  -moz-hyphens: manual;
  -webkit-hyphens: manual;
  hyphens: manual;
}
.border-top {margin-top: 5px !important;}

cdk-dashcard {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
  -ms-hyphens: manual;
  -moz-hyphens: manual;
  -webkit-hyphens: manual;
  hyphens: manual;
}
#dashcard4, #dashcard5, #dashcard6, #dashcard7, #dashcard8, #dashcard9 {
  flex: 0 0 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
 .section-container {
   padding: 25px;
 }
