
@mixin auth($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .sidenav{
    background: mat-color($primary);
    overflow: hidden;
    width: 250px;
  }
  .drawer{
    background: mat-color($primary);
    overflow: hidden;
    width: 80px;
  }
  [no-over-flow] {
      overflow: hidden;
  }
  .router-outlet{
      position: relative;padding: 0px 5px;
  }
  .spacer {
      width: 100%;
  }
}
