
.table-container {
position: relative;
margin-top:50px;
}
.table-container .mat-table {
max-height: calc(100vh - 200px);
overflow-y: auto;
}
.table-container .mat-table .mat-header-row {
position: absolute;
top: -50px;
left: 0px;
right: 18px;
background: #fff;
}
.table-header {
	background-color: #039be5;
	color: white;
	padding: 0 5px;
}
.table-container {
	padding: 5px 15px 15px 15px;
}
.table-component-holder {
	border: 1px solid #039be5;
	background-color: white;
}

.mat-column-ID {
  flex: 0 0 5%;
}
.mat-column-public_address_created_reserve_proof {
  flex: 0 0 80%;
}
.mat-column-total {
  flex: 0 0 20%;
}
.mat-column-reserve_proof {
  flex: 0 0 5000%;
}
