
.mat-toolbar-single-row{
	height: 75px;
}
.mat-form-field {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-form-field-wrapper{
	padding-bottom: 0.8em;
}
.mat-column-id {
  flex: 0 0 5%;
}
.mat-column-public_address_created_reserve_proof {
  flex: 0 0 80%;
}
.mat-column-total {
  flex: 0 0 20%;
}
.mat-column-reserve_proof {
  flex: 0 0 5000%;
}
