
.mat-toolbar-single-row{
	height: 75px;
}
.mat-form-field {
		font-weight: 500;
		line-height: normal;
		font-family: Roboto, "Helvetica Neue", sans-serif;
		padding: 0px;
		margin:0;
		width: 100%;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {text-align: center !important; margin-left: 52px !important;}

.mat-column-id {
	flex: 1 0 24px;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.mat-column-total {
  flex: 1 1 130px;
}
.mat-column-public_address_created_reserve_proof {
  flex: 4 1 55%;
	padding-right: 15px;
}
.mat-column-reserve_proof {
  flex: 1 0 24px;
	flex-direction: column;
	justify-content: center;
	text-align: center
}

.mat-cell, .mat-header-cell {
    overflow-wrap: break-word;
		word-wrap: break-word;

    -ms-word-break: break-word;
    word-break: break-word;

    -ms-hyphens: manual;
    -moz-hyphens: manual;
    -webkit-hyphens: manual;
    hyphens: manual;
}

mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type { padding-left: 0px;}
mat-footer-cell:last-of-type, mat-header-cell:last-of-type  { padding-right: 0px;}
mat-cell:last-of-type  { padding-right: 6px;}

@media(max-width: 800px)
{

	::ng-deep .mat-sort-header-arrow, ::ng-deep [dir="rtl"] .mat-sort-header-position-before .mat-sort-header-arrow {
	    margin: 0 0 0 1px !important;
	}
}
