<mat-toolbar class="mat-elevation-z4" id="header">
	<button mat-icon-button (click)="sidenav.toggle();drawer.toggle();" *ngIf="matDrawerShow">
        <em class="material-icons app-toolbar-menu">menu </em>
    </button>
    <button mat-icon-button (click)="sidenav.toggle();" *ngIf="!matDrawerShow">
        <em class="material-icons app-toolbar-menu">menu </em>
    </button>

    <span class="spacer"></span>

		<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Select a theme" matTooltip="Select a theme">
			<em class="material-icons app-toolbar-menu">format_color_fill </em>
		</button>
		<mat-menu #menu="matMenu">
						<button value='dark' mat-menu-item   (click)="switchTheme('dark')">Dark</button>
						<button value='light' mat-menu-item (click)="switchTheme('light')">Light</button>
						<button value='unicorn' mat-menu-item (click)="switchTheme('unicorn')">Unicorn</button>
						<button value='darksea' mat-menu-item (click)="switchTheme('darksea')">Darksea</button>
	 </mat-menu>

</mat-toolbar>
