
@mixin api($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);
	.api_container{
		margin-bottom: 150px;
	}
	.cards-header {
		background-color: mat-color($primary);
		color: white;
		padding: 0 5px;
	}
	.cards-container {
		margin: 5px;
	}
	.title_padding{
	  padding-left: 10px;
	}

	.paramters_row {
	  margin-bottom: 10px;
	}
	.parameters_data_desc{ padding-left: 20px; }
	.data_title{ width: 100px; vertical-align: top; padding-top:5px; text-align: left;}
	.data_value{ padding-left:0; }

	td.result_data_name, td.result_data_desc { padding: 5px 0px 5px 10px; }
	th.mat-body-1 {text-align: left;}
	.parameters_data_name code{
	    padding:  5px 5px 5px 0px;
	    white-space: normal;
			font-variant-ligatures: none;
			tab-size: 4;
	}
}
::ng-deep .hljs-attr{ padding-left: 10px !important; margin-left: 10px !important; }
