<h2 class="page_title delegate_title" >{{delegate_name}} <button class="copy_vote_btn " style="float:right;" mat-raised-button color="warn" (click)="functionsService.copyVote('vote ' + delegate_name)">Copy Vote</button></h2>

<div fxLayout.lt-md="column" fxLayout.lt-lg="row" fxLayoutGap="20px" fxLayoutAlign="space-evenly stretch" >
  <a mat-raised-button class="delegate_details delegate_details_active" [routerLink]="['/delegates/delegate_information']" [queryParams]="{'data':delegate_name}"  fxFlex.lt-sm="100" fxFlex.gt-sm="33">
    <mat-icon  class="delegate_details_icon">info</mat-icon>
    <h3>Information</h3>
  </a>
  <a mat-raised-button class="delegate_details" [routerLink]="['/delegates/delegate_statistics']" [queryParams]="{'data':delegate_name}"  fxFlex.lt-sm="100" fxFlex.gt-sm="33">
    <mat-icon  class="delegate_details_icon">insights</mat-icon>
    <h3>Statistics</h3>
  </a>
  <a mat-raised-button class="delegate_details" [routerLink]="['/delegates/delegate_voters_list']" [queryParams]="{'data':delegate_name}"  fxFlex.lt-sm="100" fxFlex.gt-sm="33">
    <mat-icon  class="delegate_details_icon">how_to_reg</mat-icon>
    <h3>Voters</h3>
  </a>
</div>


<div class="service-card-container" fxLayout.lt-md="column" fxLayout.lt-xl="row" fxLayoutGap="20px" fxLayoutAlign="space-evenly stretch" >

  <div *ngIf="shared_delegate_status"  fxLayout="column" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" fxLayoutAlign="center center" class="mat-elevation-z4 service-card">
      <h3 class="mat-title">Mode</h3>
      <p class="mat-subheading-2"  style="max-width:600px">
        <mat-icon *ngIf="shared_delegate_status === 'Solo';" matTooltip="Solo Node">person_outline</mat-icon>
        <mat-icon *ngIf="shared_delegate_status === 'Shared';" matTooltip="Shared Node - {{ delegate_fee + '%' }} Fee">groups</mat-icon>
        <mat-icon *ngIf="shared_delegate_status === 'Group';" matTooltip="Private Group">lock</mat-icon>
        <br>
        <span *ngIf="shared_delegate_status === 'Solo';">Solo Node</span>
        <span *ngIf="shared_delegate_status === 'Shared';">Shared Node</span>
        <span *ngIf="shared_delegate_status === 'Group';">Private Group</span>
      </p>
  </div>

  <div *ngIf="delegate_fee" fxLayout="column" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" fxLayoutAlign="center center" class="mat-elevation-z4 service-card">
      <h3 class="mat-title">Fee</h3>
      <p class="mat-subheading-2"  style="max-width:600px">{{delegate_fee}} %</p>
  </div>

  <div *ngIf="website"  fxLayout="column" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" fxLayoutAlign="center center" class="mat-elevation-z4 service-card">
      <h3 class="mat-title">Website</h3>
      <p class="mat-subheading-1"  style="max-width:600px"><a href="http://{{ website }}" title="{{ website }}" target="_blank">{{ website }}</a></p>
  </div>

</div>



<div class="service-card-container" fxLayout.lt-xl="column" fxLayoutGap="20px" fxLayoutAlign="space-evenly stretch" >

  <div *ngIf="about" fxLayout="column" fxLayoutAlign="center center"  class="mat-elevation-z4 service-card">
      <h3 class="mat-title">About</h3>
      <p class="mat-body-1"  style="max-width:600px">{{about}}</p>
  </div>

  <div *ngIf="team" fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z4 service-card">
      <h3 class="mat-title">Team</h3>
      <p class="mat-subheading-1"  style="max-width:600px">{{team}}</p>
  </div>

  <div *ngIf="server_specs" fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z4 service-card">
      <h3 class="mat-title">Server</h3>
      <p class="mat-body-1"  style="max-width:600px">{{server_specs}}</p>
  </div>

</div>



<div fxLayout="row" fxLayout="row wrap" fxLayoutAlign="center">
     <cdk-profile-card id="profilecard1" [title]="'Vote with delegate name'" [settings]="{'min-height': '0%'}" [data_settings]="{'margin-top': '0%'}" [text_settings]="{'margin-top': '0%'}" [data]="'vote ' + delegate_name" [button_name]="'Copy vote'" [button_length]="{'width': '25%'}" [button_click]="'copyVote'" fxFlex="100" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="100"></cdk-profile-card>
     <cdk-profile-card id="profilecard1" [title]="'Vote with public address'" [settings]="{'min-height': '0%'}" [data_settings]="{'margin-top': '0%'}" [text_settings]="{'margin-top': '0%'}" [data]="'vote ' + public_address" [button_name]="'Copy vote'" [button_length]="{'width': '25%'}" [button_click]="'copyVote'" fxFlex="100" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="100"></cdk-profile-card>
</div>
