<h2 class="page_title">{{title}}</h2>

<div fxLayout="row" fxLayout="row wrap">
  <a class="delegate_details" [routerLink]="['/auth/tables/delegates_statistics']" [queryParams]="{'data':delegates_data}"  fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
    <mat-icon  class="delegate_details_icon">analytics</mat-icon>
    <h3>Statistics</h3>
  </a>
  <a class="delegate_details" [routerLink]="['/auth/tables/delegates_voters_list']" [queryParams]="{'data':delegates_data}"  fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
    <mat-icon  class="delegate_details_icon">how_to_reg</mat-icon>
    <h3>Voters</h3>
  </a>
  <a class="delegate_details delegate_details_active" [routerLink]="['/auth/delegates_information']" [queryParams]="{'data':delegates_data}"  fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="33">
    <mat-icon  class="delegate_details_icon">info</mat-icon>
    <h3>Informations</h3>
  </a>
</div>

<div fxLayout="row" fxLayout="row wrap" fxLayoutAlign="center">
    <cdk-profile-card id="profilecard1" [title]="'About'" [settings]="{'min-height': '0%'}" [data_settings]="{'margin-top': '0%'}" [text_settings]="{'margin-top': '0%'}" [data]="delegates_data" [button_name]="'Show'" [button_length]="{'width': '25%'}" [button_click]="'about'" fxFlex="100" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="30"></cdk-profile-card>
    <cdk-profile-card id="profilecard2" [title]="'Website'" [settings]="{'min-height': '0%'}" [data_settings]="{'margin-top': '0%'}" [text_settings]="{'margin-top': '0%'}" [data]="delegates_data" [button_name]="'Show'" [button_length]="{'width': '25%'}" [button_click]="'website'" fxFlex="100" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="30"></cdk-profile-card>
    <cdk-profile-card id="profilecard3" [title]="'Team'" [settings]="{'min-height': '0%'}" [data_settings]="{'margin-top': '0%'}" [text_settings]="{'margin-top': '0%'}" [data]="delegates_data" [button_name]="'Show'" [button_length]="{'width': '25%'}" [button_click]="'team'" fxFlex="100" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="30"></cdk-profile-card>
    <cdk-profile-card id="profilecard4" [title]="'Pool Mode'" [settings]="{'min-height': '0%'}" [data_settings]="{'margin-top': '0%'}" [text_settings]="{'margin-top': '0%'}" [data]="delegates_data" [button_name]="'Show'" [button_length]="{'width': '25%'}" [button_click]="'shared_delegate_status'" fxFlex="100" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="30"></cdk-profile-card>
    <cdk-profile-card id="profilecard5" [title]="'Fee Structure'" [settings]="{'min-height': '0%'}" [data_settings]="{'margin-top': '0%'}" [text_settings]="{'margin-top': '0%'}" [data]="delegates_data" [button_name]="'Show'" [button_length]="{'width': '25%'}" [button_click]="'delegate_fee'" fxFlex="100" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="30"></cdk-profile-card>
    <cdk-profile-card id="profilecard6" [title]="'Server Settings'" [settings]="{'min-height': '0%'}" [data_settings]="{'margin-top': '0%'}" [text_settings]="{'margin-top': '0%'}" [data]="delegates_data" [button_name]="'Show'" [button_length]="{'width': '25%'}" [button_click]="'server_specs'" fxFlex="100" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="30"></cdk-profile-card>
    <cdk-profile-card id="profilecard7" [title]="'How to vote for this delegate'" [settings]="{'min-height': '0%'}" [data_settings]="{'margin-top': '0%'}" [text_settings]="{'margin-top': '0%'}" [data]="delegates_data" [button_name]="'Show'" [button_length]="{'width': '25%'}" [button_click]="'public_address'" fxFlex="100" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="30"></cdk-profile-card>
</div>
