@import '~@angular/material/theming';
@import '../app/auth/auth.component.scss';
@import '../app/core/sidemenu/sidemenu.component.scss';
@import '../app/core/sidemenu-item/sidemenu-item.component.scss';
@import '../app/dashboard-widget/dashcard/dashcard.component.scss';
@import '../app/dashboard-widget/profile-card/profile-card.component.scss';


$mat-light-theme-background: (
  status-bar: whitesmoke, //map_get($mat-grey, 300),
  app-bar:    whitesmoke, //map_get($mat-grey, 100),
  background: map_get($mat-indigo, 50),
  hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
  card:       whitesmoke,
  dialog:     whitesmoke,
  disabled-button: $black-12-opacity,
  raised-button: white,
  focused-button: $black-6-opacity,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
);

@include mat-core();

$primary : $mat-light-blue;
$accent  : $mat-orange;
$warn    : $mat-light-blue;



$primary-app-primary: mat-palette($primary , 600);
$primary-app-accent:  mat-palette($accent , 900);
$primary-app-warn:    mat-palette($warn, 600 );
$cdk-theme:   mat-light-theme($primary-app-primary, $primary-app-accent,$primary-app-warn);

cdk-sidemenu{
    $sidemenu-app-primary: mat-palette($primary , 600);
    $sidemenu-app-accent:  mat-palette($accent , 900);
    $sidemenu-app-warn:    mat-palette($warn, 600 );
    $cdk-sidemenu-theme:   mat-dark-theme($sidemenu-app-primary, $sidemenu-app-accent,$sidemenu-app-warn);
    @include mat-list-theme($cdk-sidemenu-theme);
}


cdk-sidemenu-item{
    @include sidemenu-item($cdk-theme,20px)
}


cdk-dashcard {
    $dashcard-primary: mat-palette($primary);
    $dashcard-accent:  mat-palette($accent);
    $dashcard-warn:    mat-palette($warn);
    $dashcard-theme:   mat-dark-theme($dashcard-primary, $dashcard-accent,$dashcard-warn);
    @include dashcard($dashcard-theme);
}

cdk-profile-card{
  $dashboard-profile-primary: mat-palette($primary , 600);
    $dashboard-profile-accent:  mat-palette($accent , 900);
    $dashboard-profile-warn:    mat-palette($warn, 600 );
    $cdk-dashboard-profile-theme:   mat-dark-theme($dashboard-profile-primary, $dashboard-profile-accent,$dashboard-profile-warn);
    @include dashboard-profile($cdk-dashboard-profile-theme);
    @include mat-tabs-theme($cdk-dashboard-profile-theme);
}
@include angular-material-theme($cdk-theme);
@include auth($cdk-theme);


html {
  height:100%;
}
body{
  padding: 0px !important;
  margin: 0px !important;
  height:100%;
}
.components-container-gt-xs {
    padding: 20px;
    // background-color: #fdfdfd;
}
.components-container-xs {
    padding: 5px !important;
    // background-color: #fdfdfd;
}
.component-preview {
    padding: 20px;
}
.ps-content {
  height: 100%;
}

.loader-container {
    background-color: white;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    position: absolute;

    -moz-animation: cssAnimation 1s ease-in 3s forwards;
    /* Firefox */
    animation: cssAnimation 1s ease-in 3s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 1s ease-in 3s forwards;
    /* Opera */
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        opacity:0;
        display: none;
        visibility:hidden;
    }
}
@keyframes cssAnimation {
    to {
        visibility:hidden;
        opacity:0;
        display: none;
    }
}



.spinner {
    margin: 50vh auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;


  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bounce3 {
    background-color: #039be5;
}

.spinner .bounce1 {
    background-color: #4fc3f7;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    background-color: #29b6f6;
    animation-delay: -0.16s;
}



@keyframes sk-bouncedelay {
  0%, 80%, 100% { transform: scale(0) }
  40% { transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  } 40% {
    transform: scale(1.0);
  }
}

.page_title{
  color: white;
  font: 500 26px Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
  background: #29b6f6;
  padding: 26px;
  margin: 10px 5px;
}

.delegate_details{
  text-align: center;
  color: white;
}

a.delegate_details:link {
 color: white;
 text-decoration: underline;
 }
a.delegate_details:visited {
 color: white;
 text-decoration: underline;
 }
a.delegate_details:hover {
 color: #039be5;
 text-decoration: none;
 }

.delegate_details h3 {
  color: white;
  background-color:#29b6f6;
  padding:18px;
  margin: 10px 5px;
}
