<div fxLayout="row" fxLayout="row wrap">
    <div *ngFor="let dash of dashCard1" fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <cdk-dashcard [dashData]="dash"></cdk-dashcard>
    </div>
</div>

<div fxLayout="row" fxLayout="row wrap">
    <div *ngFor="let dash of dashCard2" fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">
        <cdk-dashcard [dashData]="dash"></cdk-dashcard>
    </div>
</div>

<div fxLayout="row" fxLayout="row wrap" fxLayoutAlign="center">
    <cdk-profile-card [title]="'Voting Rules'" [settings]="{'min-height': '0%'}" [data_settings]="{'margin-top': '0%'}" [text_settings]="{'margin-top': '0%'}" [data]="voting_rules" [button_name]="'Start'" [button_length]="{'width': '25%'}" [button_click]="'voting_rules'" fxFlex="100" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="30"></cdk-profile-card>
    <cdk-profile-card [title]="'How to vote in the CLI'" [settings]="{'min-height': '0%'}" [data_settings]="{'margin-top': '0%'}" [text_settings]="{'margin-top': '0%'}" [data]="" [button_name]="'Start'" [button_length]="{'width': '25%'}" [button_click]="'vote_cli'" fxFlex="100" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="30"></cdk-profile-card>
    <cdk-profile-card [title]="'How to register a delegate'" [settings]="{'min-height': '0%'}" [data_settings]="{'margin-top': '0%'}" [text_settings]="{'margin-top': '0%'}" [data]="" [button_name]="'Start'" [button_length]="{'width': '25%'}" [button_click]="'delegate_register'" fxFlex="100" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="30"></cdk-profile-card>
    <cdk-profile-card [title]="'How to update a delegates data'" [settings]="{'min-height': '0%'}" [data_settings]="{'margin-top': '0%'}" [text_settings]="{'margin-top': '0%'}" [data]="" [button_name]="'Start'" [button_length]="{'width': '25%'}" [button_click]="'delegate_update'" fxFlex="100" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="30"></cdk-profile-card>
    <cdk-profile-card [title]="'How to remove a delegate'" [settings]="{'min-height': '0%'}" [data_settings]="{'margin-top': '0%'}" [text_settings]="{'margin-top': '0%'}" [data]="" [button_name]="'Start'" [button_length]="{'width': '25%'}" [button_click]="'delegate_remove'" fxFlex="100" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="30"></cdk-profile-card>
    <cdk-profile-card [title]="'How to verify round statistics in the CLI'" [settings]="{'min-height': '0%'}" [data_settings]="{'margin-top': '0%'}" [text_settings]="{'margin-top': '0%'}" [data]="" [button_name]="'Start'" [button_length]="{'width': '25%'}" [button_click]="'verify_round_statistics'" fxFlex="100" fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="30"></cdk-profile-card>
</div>