
.table-container {
	position: relative;
	margin-top:50px;
	padding: 5px 0px 15px 0px;
}
.table-container .mat-table {
	// max-height: calc(100vh - 250px);
	// overflow-y: auto;
	width: 100%;
}
.table-container .mat-table .mat-header-row {
	position: absolute;
	top: -50px;
	left: 0px;
	right: 18px;
	background: #fff;
}
.table-header {
	background-color: #1189a5;
	color: white;
	padding: 0px 20px 0px 20px;
	color: white;
}
.table-component-holder {
	border: 1px solid #1189a5;
	background-color: white;
}
.mat-toolbar-single-row{
	height: 65px;
}
.mat-form-field {
		font-size: 26px;
    font-weight: 500;
    line-height: normal;
    font-family: Roboto, "Helvetica Neue", sans-serif;
		padding: 0px;
		margin:0;
		width: 100%;
}
::ng-deep .deleagtes_table .mat-form-field-label { left: 45% !important; top: 1.05em !important}
::ng-deep .deleagtes_table .mat-form-field-underline, ::ng-deep .deleagtes_table .mat-form-field-ripple {
	bottom: 0.8em !important;
	height: 2px !important;
}
::ng-deep .deleagtes_table .mat-form-field-suffix .mat-icon{ font-size: 100% !important; }
::ng-deep .deleagtes_table .mat-form-field-wrapper { padding-bottom: 0.5em !important; }
::ng-deep .deleagtes_table .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
	transform: translateY(-0.6em) scale(0.6) perspective(100px) translateZ(0.001px) !important;
}
::ng-deep .deleagtes_table .mat-input-element{	font-size: 75% !important; }

.Online{
	color:#4c8c4a;
}
.Offline{
	color:#b71c1c;
}

.mat-column-id {
  flex: 0 0 4%;
}
.mat-column-delegate_name {
  flex: 0 0 25%;
}
.mat-column-online_status {
  flex: 0 0 8%;
}
.mat-column-pool_mode {
  flex: 0 0 8%;
}
.mat-column-fee_structure {
  flex: 0 0 10%;
}
.mat-column-block_verifier_total_rounds {
  flex: 0 0 10%;
}
.mat-column-block_verifier_online_percentage {
  flex: 0 0 10%;
}
.mat-column-total_vote_count {
  flex: 0 0 15%;
}
.mat-column-block_verifier_score {
  flex: 0 0 10%;
}
