
.table-container {
	position: relative;
	margin-top:50px;
	padding: 5px 0px 15px 0px;
}
.table-container .mat-table {
	max-height: calc(100vh - 250px);
	overflow-y: auto;
	width: 100%;
}
.table-container .mat-table .mat-header-row {
	position: absolute;
	top: -50px;
	left: 0px;
	right: 18px;
	background: #fff;
}
.table-header {
	background-color: #039be5;
	color: white;
	padding: 0 0px;
}
.table-component-holder {
	border: 1px solid #039be5;
	background-color: white;
}
.mat-toolbar-single-row{
	height: 75px;
}
.mat-form-field {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-form-field-wrapper{
	padding-bottom: 0.8em;
}



.mat-column-id {
  flex: 0 0 4%;
}
.mat-column-delegate_name {
  flex: 0 0 25%;
}
.mat-column-online_status {
  flex: 0 0 8%;
}
.mat-column-pool_mode {
  flex: 0 0 8%;
}
.mat-column-fee_structure {
  flex: 0 0 10%;
}
.mat-column-block_verifier_total_rounds {
  flex: 0 0 10%;
}
.mat-column-block_verifier_online_percentage {
  flex: 0 0 10%;
}
.mat-column-total_vote_count {
  flex: 0 0 15%;
}
.mat-column-block_verifier_score {
  flex: 0 0 10%;
}
