
<div fxLayout="row wrap ">
<!-- <div fxLayout="column" fxLayout.lt-sm="column"  class="components-container-gt-xs deleagtes_table"  [ngClass.xs]="'components-container-xs'"   fxLayoutGap="20px">-->
	<div   fxLayoutGap="20px" class="filterButtons ">

			<button mat-raised-button color="accent" [ngClass]="filter_active == '' ? 'on' : 'off'" (click)="filterMode('')"  matTooltip="Show All Nodes"><mat-icon>select_all</mat-icon> All</button>


			<button mat-raised-button color="accent" [ngClass]="filter_active == 'Shared' ? 'on' : 'off'" (click)="filterMode('Shared')"  matTooltip="Show Shared Nodes"><mat-icon>groups</mat-icon> Shared</button>


			<button mat-raised-button color="accent" [ngClass]="filter_active == 'Group' ? 'on' : 'off'" (click)="filterMode('Group')"  matTooltip="Show Private Groups"><mat-icon>lock</mat-icon> Group</button>


			<button mat-raised-button color="accent" [ngClass]="filter_active == 'Solo' ? 'on' : 'off'" (click)="filterMode('Solo')"  matTooltip="Show Solo Nodes"><mat-icon>person_outline</mat-icon>Solo</button>

</div>
</div>
<!-- </div> -->
<!-- <div fxLayout="row wrap">
</div> -->


<div fxLayout="column"  class="components-container-gt-xs deleagtes_table"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="5px">

	<div fxFlex class="table-component-holder mat-elevation-z4">

    <mat-toolbar class="table-header">
        <mat-form-field floatPlaceholder="never" >
          <input matInput #filter placeholder="Delegates">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
		</mat-toolbar>

    <div class="table-container">

			<mat-table #table id="delegates_table" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>

				<!--- Note that these columns can be defined in any order.
				The actual rendered columns are set as a property on the row definition" -->

				<ng-container matColumnDef="id">
					<mat-header-cell *matHeaderCellDef mat-sort-header>
						<mat-icon *ngIf="mobile; else status" matTooltip="Rank">leaderboard</mat-icon>
						<ng-template #status>
							Rank
						</ng-template>
						</mat-header-cell>
					<mat-cell id="id{{row.id}}" *matCellDef="let row">
						<span [ngStyle]="{'color': row.id <= 50 ? ( row.id > 5 ? 'green' : 'inherit') : 'orange'}" [matTooltip]="row.id <= 50 ? 'Verifier/Producer' : 'Standby'">
							{{ row.id | number}}
						</span>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="delegate_name">
					<mat-header-cell *matHeaderCellDef mat-sort-header> Delegate </mat-header-cell>
					<mat-cell id="delegate_name{{row.id}}" *matCellDef="let row">
            <a  [routerLink]="['/delegates/delegate_statistics']" [queryParams]="{'data':row.delegate_name}">
              <h4>{{row.delegate_name}}</h4>
            </a>
          </mat-cell>
				</ng-container>

				<ng-container matColumnDef="online_status">
					<mat-header-cell *matHeaderCellDef mat-sort-header>

						<mat-icon *ngIf="mobile; else status" matTooltip="Online Status">cast_connected</mat-icon>
						<ng-template #status>
							Status
						</ng-template>

					</mat-header-cell>
					<mat-cell id="online_status{{row.id}}" *matCellDef="let row" class="mat-cell">

							<mat-icon *ngIf="row.online_status === 'Online'; else offline" matTooltip="Online" matTooltipClass="green-tooltip" class="Online">online_prediction</mat-icon>
							<ng-template #offline>
								<mat-icon matTooltip="Offline" matTooltipClass="red-tooltip" class="Offline">highlight_off</mat-icon>
							</ng-template>

					</mat-cell>
				</ng-container>



				<ng-container matColumnDef="shared_delegate_status">
					<mat-header-cell *matHeaderCellDef mat-sort-header>

						<mat-icon *ngIf="mobile; else mode" matTooltip="Mode">rss_feed</mat-icon>
						<ng-template #mode>
							Mode
						</ng-template>
					</mat-header-cell>
					<mat-cell id="shared_delegate_status{{row.id}}" *matCellDef="let row">


						<mat-icon *ngIf="row.id < 6;" matTooltip="Seed Node">admin_panel_settings</mat-icon>
						<mat-icon *ngIf="row.shared_delegate_status === 'Solo' && row.id > 5 ;" matTooltip="Solo Node">person_outline</mat-icon>
            <mat-icon *ngIf="row.shared_delegate_status === 'Shared';" matTooltip="Shared Node - {{ row.delegate_fee + '%' }} Fee">groups</mat-icon>
            <mat-icon *ngIf="row.shared_delegate_status === 'Group';" matTooltip="Private Group">lock</mat-icon>

					</mat-cell>
				</ng-container>



        <ng-container matColumnDef="delegate_fee">
					<mat-header-cell *matHeaderCellDef mat-sort-header> Fee </mat-header-cell>
					<mat-cell id="delegate_fee{{row.id}}" *matCellDef="let row">{{ row.delegate_fee != "" ? row.delegate_fee + " %": "-" }}</mat-cell>
				</ng-container>



        <ng-container matColumnDef="total_vote_count">
					<mat-header-cell *matHeaderCellDef mat-sort-header>

						<mat-icon *ngIf="mobile; else votes" matTooltip="Verifed Blocks">done_all</mat-icon>
						<ng-template #votes>
							Votes
						</ng-template>

					</mat-header-cell>
					<mat-cell id="total_vote_count{{row.id}}" *matCellDef="let row">

						<span matTooltip="{{ row.total_vote_count | number }} XCA" >
							{{ functionsService.get_lg_numer_format(row.total_vote_count) }}
						</span>

					</mat-cell>
				</ng-container>



        <ng-container matColumnDef="block_verifier_online_percentage">
					<mat-header-cell *matHeaderCellDef mat-sort-header> Online </mat-header-cell>
					<mat-cell id="block_verifier_online_percentage{{row.id}}" *matCellDef="let row">{{ row.block_verifier_online_percentage | number}} %</mat-cell>
				</ng-container>



        <ng-container matColumnDef="block_verifier_total_rounds">
					<mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Verifed Blocks">

						<mat-icon *ngIf="mobile; else verified" matTooltip="Verifed Blocks">autorenew</mat-icon>
						<ng-template #verified>
							Verifed
						</ng-template>

					</mat-header-cell>
					<mat-cell id="block_verifier_total_rounds{{row.id}}" *matCellDef="let row">{{ row.block_verifier_total_rounds | number}}</mat-cell>
				</ng-container>



        <ng-container matColumnDef="block_producer_total_rounds">
					<mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Produced Blocks">

						<mat-icon *ngIf="mobile; else produced">find_in_page</mat-icon>
						<ng-template #produced>
							Produced
						</ng-template>
					</mat-header-cell>
					<mat-cell id="block_producer_total_rounds{{row.id}}" *matCellDef="let row">{{ row.block_producer_total_rounds | number}}</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="{'background-color': row.id <= 50  ? 'none' : 'rgba(250, 116, 28, 0.1)'}"></mat-row>

			</mat-table>

      <div class="no-results" [style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'">
        No delegates found.
      </div>

			<mat-paginator #paginator
				[length]="length"
				[pageIndex]="0"
				[pageSize]="pagesize"
				[pageSizeOptions]="[ 100, 150, 200]">
			</mat-paginator>

		</div>
	</div>
</div>
