
.mat-toolbar-single-row{
	height: 75px;
}
.mat-form-field {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-form-field-wrapper{
	padding-bottom: 0.8em;
}
