
.table-container {
	position: relative;
	margin-top:50px;
	padding: 5px 0px 15px 0px;
}
.table-container .mat-table {
	max-height: calc(100vh - 200px);
	overflow-y: auto;
}
.table-container .mat-table .mat-header-row {
	position: absolute;
	top: -50px;
	left: 0px;
	right: 18px;
	background: #fff;
}
.table-header {
	background-color: #039be5;
	color: white;
	padding: 0 20px;
}
.table-component-holder {
	border: 1px solid #039be5;
	background-color: white;
}
