<div  class="profile-card-holder " [ngStyle]="settings">
    <div fxLayout="column" >
        <div   class="profile-details mat-elevation-z8" [ngStyle]="data_settings" >
            <div fxLayout="column" class="profile-details-holder" [ngStyle]="text_settings" fxLayoutAlign="space-around center">
                <h1 class="mat-headline center-align" >{{title}}</h1>
                <code *ngIf="data" class="codeblock center-align" >{{data}}</code>
                <button class="Follow " mat-raised-button [ngStyle]="button_length" color="warn" (click)="button_click === 'copyVote' ? copyVote(data) : copyMessage(data, 'Data copied to the clipboard')">{{button_name}}</button>
            </div>
        </div>
    </div>
</div>
