mat-card {
  padding: 5px;
  margin: 5px;
}

.service-card-content{
    .service-card-container {
        padding: 0px;
        margin: 10px 5px;
        .service-card {
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            cursor: default;
            background-color: #1189a5;
            color: white;
            padding: 20px;
            .service-card-header{
              background-color: #fa741c; //#1189a5;
              height: 160px;
              width: 160px;
              border-radius: 50%;
              display: inline-block;
              padding-top: 14px;
              img {
                  height: 120px;
              }
            }
            .service-card-header-github{
              background-color: #fa741c; //#1189a5;
              height: 160px;
              width: 160px;
              border-radius: 50%;
              display: inline-block;
              img {
                  height: 120px;
              }
            }
            h3 {
                margin: 0;
            }
            p {
                margin: 0;
                text-align: center;
            }
            &:hover {
                transform: translate(0, -8px);
                box-shadow: 0 20px 20px rgba(0, 0, 0, .16)
            }
        }
    }
}

.expansion-header {
	background-color: #1189a5;
	color: white;
	padding: 0 5px;
}
.faq_title{
  padding: 16px 0px 16px 0px;
  margin:  0px;
}
.mat-subheading-2{
  margin:  0px;
}
.expansion-container {
	padding: 26px 0px 26px 0px;

}
.expansion-component-holder {
	// border: 1px solid #1189a5;
  //background-color: white;
  border-style: 0;
  margin-bottom: 150px;

  mat-divider {
  	margin-bottom: 20px;
    border: 0px;
  }
  mat-expansion-panel-header, mat-panel-title {
    background-color: #1189a5;
    color: white;
    text-align: center !important;
    padding-left: 10px;
  }
 .mat-expansion-panel-header{
    height: 52px !important;
    border: 1px solid #1189a5;
 }
 .mat-expanded {
   border: 1px solid #1189a5;
 }
 .mat-expansion-panel-header-title{
    display: block;
    color: white;
    font: 500 20px Roboto, "Helvetica Neue", sans-serif;
    text-align: center !important;
    line-height: 52px;

  }

}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled="true"]):hover,
::ng-deep .mat-expansion-indicator::after {
  background-color: #1189a5;
  color: white;
}
