
<h2 class="page_title">Statistics</h2>

<div fxLayout="row" fxLayout="row wrap">
  <div  class="topstats-card-holder" fxFlex>
      <div fxLayout="column" >
          <div fxLayout="row" fxLayoutAlign="space-around center"  >
              <div  class="banner">
                   <img width="100" [style.borderRadius]="'50%'" src="/assets/images/emoji_events-white-48dp.svg">
              </div>
          </div>
          <div   class="topstats-details mat-elevation-z8" >
              <div fxLayout="column" class="topstats-details-holder" fxLayoutAlign="space-around center">
                  <h2 class="mat-headline center-align" >{{most_block_producer_total_rounds_delegate_name}}</h2>
                  <h2 class="mat-headline center-align" >produced {{most_block_producer_total_rounds}} blocks</h2>
                  <a mat-raised-button class="mat-raised-button mat-warn view" [routerLink]="['/auth/tables/delegates_statistics']" [queryParams]="{'data':most_block_producer_total_rounds_delegate_name}">View delegate</a>
              </div>
          </div>

      </div>
  </div>
  <div  class="topstats-card-holder" fxFlex>
      <div fxLayout="column" >
          <div fxLayout="row" fxLayoutAlign="space-around center"  >
              <div  class="banner">
                   <img width="100" [style.borderRadius]="'50%'" src="/assets/images/military_tech-white-48dp.svg">
              </div>
          </div>
          <div   class="topstats-details mat-elevation-z8" >
              <div fxLayout="column" class="topstats-details-holder" fxLayoutAlign="space-around center">
                  <h2 class="mat-headline center-align" >{{most_total_rounds_delegate_name}}</h2>
                  <h2 class="mat-headline center-align" >verified {{most_total_rounds}} blocks</h2>
                  <a mat-raised-button class="mat-raised-button mat-warn view" [routerLink]="['/auth/tables/delegates_statistics']" [queryParams]="{'data':most_total_rounds_delegate_name}">View delegate</a>
              </div>
          </div>

      </div>
  </div>
</div>


<div fxLayout="row wrap">

    <div fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="100"  fxFlex.lg="32.5" class="table-component-holder">
  		<div class="table-header">
  			<h1 class="mat-headline" >Top Block Producer</h1>
  		</div>
  		<div class="table-container">
  	    	<table>
  						<tr  *ngFor="let delegate of top_producer; let count = index ">
                <td class="mat-subheading-1 count">{{ count+1 }}</td>
                <td class="mat-subheading-1 delegate_name">{{ delegate.delegate_name | slice:0:35 }}</td>
    						<td class="text-right mat-subheading-1 block_producer_total_rounds">{{ delegate.block_producer_total_rounds }}</td>
							</tr>
  				</table>
    	</div>
  	</div>

    <div fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="100"  fxFlex.lg="32.5" class="table-component-holder">
  		<div class="table-header">
  			<h1 class="mat-headline" >Top Block Verifier</h1>
  		</div>
  		<div class="table-container">
  	    	<table>
  						<tr  *ngFor="let delegate of top_verifier; let count = index ">
                <td class="mat-subheading-1 count">{{ count+1 }}</td>
                <td class="mat-subheading-1 delegate_name">{{ delegate.delegate_name | slice:0:35 }}</td>
    						<td class="text-right mat-subheading-1 block_producer_total_rounds">{{ delegate.block_verifier_total_rounds }}</td>
							</tr>
  				</table>
    	</div>
  	</div>

    <div fxFlex fxFlex.lt-sm="100" fxFlex.sm="100" fxFlex.md="100"  fxFlex.lg="32.5" class="table-component-holder">
  		<div class="table-header">
  			<h1 class="mat-headline center-align" >Top Producer/Verfier Ratio</h1>
  		</div>
  		<div class="table-container">
  	    	<table>
  					<tbody>
  						<tr  *ngFor="let delegate of top_ratio; let count = index ">
                <td class="mat-subheading-1 count">{{ count+1 }}</td>
                <td class="mat-subheading-1 delegate_name">{{ delegate.delegate_name | slice:0:35 }}</td>
    						<td class="text-right mat-subheading-1 block_producer_total_rounds">{{ delegate.block_ratio| number:'1.0-1' }}%</td>
							</tr>
  					</tbody>
  				</table>
    	</div>
  	</div>

</div>
