
<h2 class="page_title">Top Block Producer & Verifier</h2>

<div fxLayout="row" fxLayout="row wrap">
  <div  class="topstats-card-holder" fxFlex>
      <div fxLayout="column" >
          <div fxLayout="row" fxLayoutAlign="space-around center"  >
              <div  class="banner">
                   <img width="100" [style.borderRadius]="'50%'" src="/assets/images/emoji_events-white-48dp.svg">
              </div>
          </div>
          <div   class="topstats-details mat-elevation-z8" >
              <div fxLayout="column" class="topstats-details-holder" fxLayoutAlign="space-around center">
                  <h1 class="mat-headline center-align" >{{most_block_producer_total_rounds_delegate_name}}</h1>
                  <h1 class="mat-subheading-1 center-align" > produced</h1>
                  <h1 class="mat-headline center-align" >{{most_block_producer_total_rounds}}</h1>
                  <h1 class="mat-subheading-1 center-align" >blocks</h1>
                  <a mat-raised-button class="mat-raised-button mat-warn view" [routerLink]="['/auth/tables/delegates_statistics']" [queryParams]="{'data':most_block_producer_total_rounds_delegate_name}">View delegate</a>
              </div>
          </div>

      </div>
  </div>
  <div  class="topstats-card-holder" fxFlex>
      <div fxLayout="column" >
          <div fxLayout="row" fxLayoutAlign="space-around center"  >
              <div  class="banner">
                   <img width="100" [style.borderRadius]="'50%'" src="/assets/images/military_tech-white-48dp.svg">
              </div>
          </div>
          <div   class="topstats-details mat-elevation-z8" >
              <div fxLayout="column" class="topstats-details-holder" fxLayoutAlign="space-around center">
                  <h1 class="mat-headline center-align" >{{most_total_rounds_delegate_name}}</h1>
                  <h1 class="mat-subheading-1 center-align" >verified</h1>
                  <h1 class="mat-headline center-align" >{{most_total_rounds}}</h1>
                  <h1 class="mat-subheading-1 center-align" >rounds</h1>
                  <a mat-raised-button class="mat-raised-button mat-warn view" [routerLink]="['/auth/tables/delegates_statistics']" [queryParams]="{'data':most_total_rounds_delegate_name}">View delegate</a>
              </div>
          </div>

      </div>
  </div>
</div>
