mat-card {
  padding: 5px;
  margin: 5px;
}

.topstats-card-holder{
    margin: 0px 5px 10px 5px;
    min-height: 200px;
    box-sizing: border-box;
    color:#f5f0f0f2;

    .topstats-details{
        background-color: #fa741c;
        margin-top:-50px;
        min-height: 200px;
        & .topstats-details-holder{
            margin-top: 50px;
            padding-top: 15px;
        }
    }
    .center-align{
        text-align: center;
    }
    .view{
        width: 30%;
        margin-bottom: 15px;
        background-color:white;
        color:  #fa741c;
    }
    & .banner {
        background-size: screen;
        background-color: #f9a825;
        min-height: 60px;
        background-repeat: no-repeat;
        color: white;
        z-index: 1;
        border-radius: 50%;
        display: inline-block;
        & img {
            position: relative;
            z-index: 1;
            padding-top: 2px;
        }
    }
    .topstats-card-content{
        padding: 5px;
    }
}
.nav-item {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: default;

  &:hover {
    transform: translate(0, -8px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, .16)
  }
}


.table-component-holder {
	border: 1px solid #039be5;
	background-color: white;
  margin: 5px;
  //padding: 5px
}
.table-header {
	background-color: #039be5;
	color: white;
	padding: 3px 10px 0px 10px;
}
.table-container {
	padding: 3px 10px 3px 10px;
	overflow-y: auto;
	width: 90%;
	background: #fff;
}

.count {
  width: 10%;
}
.delegate_name {
  width: 70%;
}
.block_producer_total_rounds {
  width: 5%;
}
.visit {
  width: 50%;
}
